<%- include ../partials/surveyheader.ejs %>

<%- include ../partials/navbar.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
        
            <h1><%= title %></h1>
            <p>Enter valid information about yorself and fill out the survey</p>
         <br>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter Your Name"
                    name="name" required>
                </div>

                <div  class="form-group">
                    <label for="emailTextField">Email</label>
                    <input type="email" class="form-control"
                    id="emailTextField"
                    placeholder="Enter Your email"
                    name="email" 
                    required>
                </div>

                <div class="form-group">
                    <label for="ageTextField">Age</label>
                    <input type="age" class="form-control"
                    id="ageTextField"
                    placeholder="Enter Your Age"
                    name="age" 
                    required>
                </div>

         <hr>

                <div class="survey">
                  <div class="question1">
                        <h4>How likely are you to recommend us?</h4>

                     <ul class="option">
                        <li>Extremely likely</li>
                        <li>Very likely</li>
                        <li>Neutral</li>   
                        <li>Somewhat unlikely</li>
                        <li>Extremely unlikely</li> 
                     </ul>
                 </div>                
                
                    <div class="question2">
                        
                        <h2>Who did you make a purchase for?</h2>

                        <ul class="option">
                            <li>Self</li>
                            <li>Family Member</li>    
                            <li> Business</li>
                            <li>Friend</li>
                            <li>Other</li>

                        </ul>
                    </div>  

                     <div class="question3">
                            <h2>How many times have you visited our website in the past month?</h2>

                            <ul class="option">
                                <li>None</li>
                                <li>Once</li>    
                                <li>Weekly</li>
                                <li>Monthly</li>
                                <li>Only when purchase is required</li>
                            </ul>
                        </div>

                 </div>

                <div class="end">
                    <h2>Thank you</h2>
                    <a href="/home"><i class="fas fa-chevron-circle-right"></i> home</a>

                </div>
            
              <br><hr>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-paper-plane"></i> Submit</button>
                
                    <a href="/survey-app" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>

<br>

<%- include ../partials/footer.ejs %>  

<%- include ../partials/scripts.ejs %>